<p class="text-center">Source Code: <a href="">Github</a> - Made by <a href="https://github.com/WinsDominoes">Win</a> - Material Theme Library by <a href="https://daemonite.github.io/material/">daemonite.github.io</a>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script src="/assets/js/fetch.js"></script>
<script src="/assets/js/dropdown.js"></script>

<!-- Then Material JavaScript on top of Bootstrap JavaScript -->
<script src="/assets/material/material.min.js"></script>
</body>
</html>